PORT=5000
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/docslot

FRONTEND_URL=http://localhost:5173

JWT_ACCESS_SECRET=your_jwt_access_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

ADMIN_EMAIL=admin@docslot.com
ADMIN_PASSWORD=Admin@123
ADMIN_NAME=Super Admin